<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Straats.FriendRequest"
    android:versionCode="1"
    android:versionName="0.9.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FindFriend"
            android:label="@string/title_activity_find_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewFriend"
            android:label="@string/title_activity_view_friend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PendingFriends"
            android:label="@string/title_activity_pending_friends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FAQ"
            android:label="@string/title_activity_faq"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
